body {
	background:#FBF0C6;
	margin: 20px; 
}

h1 {
	font-family: Garamond;
	font-size:32px;
}

p {
	font-family: Verdana, Helvetica, sans-serif;
	font-size:16px;
	color:#213599;
}

header {
	position:absolute;
	top:0px;
	height:100px;
	width:100%;
	clear:both;
	background:#FAFAFA;
}

header .arriba {
	float:left;
	position:relative;
	left:10px;
	top:5px;
}

header .titulo {
	float:left;
}

nav {
	height:100%;
	width:calc(15% - 2px);
	background:#F7C59F;
	color:#225225;
	
}

nav .navigation {
	position:relative;
	left:6px;
}

nav .navigation .ul {
	list-style-type:none;
}

nav .navigation .ul .li {
	padding
}

main {
	float:left;
	
	left:4px;
	right:20%;
}
