<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Gestor- Inventario de salones</title>
		<link rel="stylesheet" href="CSS/Estilo.css">
	</head>

	<body>
		<header>
			<div class="icono">
				<img class="icono" alt="Icono">
				<span><h1>Gestor</h1></span>
			</div>
		</header>

		<nav>
			<ul class="navigation">
				<li><a href="Inicio.html">Inicio</a></li>
				<li><a href=#>Inventario de salones</a></li>
				<li><a href="PrestamosProf.html">Equipos prestados a docentes</a></li>
				<li><a href="NoFuncionales.html">Equipos sin funcionamiento</a></li>
			</ul>
		</nav>
		<main>
			<h1>Inventario de salones</h1>
			<p>Aquí puede ver el inventario de salones.</p>
			<button onclick="location.href='InventarioSNuevo.html'">Registrar</button>
			<div class="SpConsultas">
				<h2>Consultas</h2>
				
				{% if items %}
				<table border="1">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Salón</th>
							<th>Lugar de Compra</th>
							<th>Fecha de Compra</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.Nombre }}</td>
							<td>{{ item.Descripcion }}</td>
							<td>{{ item.Salon }}</td>
							<td>{{ item.LugCompra }}</td>
							<td>{{ item.FechaCompra }}</td>
							<td>{{ item.Estado }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>No hay elementos en el inventario.</p>
				{% endif %}
			</div>
		</main>
	</body>
</html>